@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://colorhunt.co/palette/27374d526d829db2bfdde6ed */
@layer utilities {
    .bg-primary   { background-color: #191919; } /* preto suave */
    .bg-secondary { background-color: #2D4263; } /* azul acinzentado */
    .bg-accent    { background-color: #C84B31; } /* vermelho-terra */
    .bg-light     { background-color: #ECDBBA; } /* bege claro */

    .text-primary   { color: #191919; }
    .text-secondary { color: #2D4263; }
    .text-accent    { color: #C84B31; }
    .text-light     { color: #ECDBBA; }
}



@layer components {
    
    .header {
        @apply fixed top-0 left-0 w-full h-16 bg-primary shadow-md flex items-center
                px-6 justify-between;
    }

    .btn {
        @apply p-2 bg-secondary text-light rounded-md;
    }
}

/* css reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
