@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-primary { background-color: #27374D; }
    .bg-secondary { background-color: #526D82; }
    .bg-accent { background-color: #9DB2BF; }
    .bg-light { background-color: #DDE6ED; }
    .text-primary { color: #27374D; }
    .text-secondary { color: #526D82; }
    .text-accent { color: #9DB2BF; }
    .text-light { color: #DDE6ED; }
}

/* css reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}